VERSION=0.0.1
GIN_MODE=debug
APP_PORT=3000

# REDIS_SERVICE_URL=host.docker.internal:6379
REDIS_SERVICE_URL=localhost:6379
REDIS_DATABASE=0
REDIS_PASSWORD=


# DB Config
DB_USER=admin
DB_PASSWORD=admin
DB_HOST=localhost
# DB_HOST=host.docker.internal # When running API in docker, localhost if running from Host
DB_DATABASE=ai_project
DB_PORT=5400
DB_MAX_IDLE_CONNECTIONS=100
DB_MAX_OPEN_CONNECTIONS=200
# DB_MIGRATION_FK_CONFIG=true

# LOCAL_LLM_BIN=./llama-2-7b-chat.ggmlv3.q4_K_S.bin
